<h1>Book a Cat or Dog Sitting</h1>
<%= form_with(model: Booking, url: bookings_path, method: :post) do |form| %>
    <%= render "shared/form_fields", form: form, booking: @booking%>
<%= form.submit 'Book' %>
<% end %>
